@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f2dada;
  color: #3b2f2f; /* thai tea text color */
  font-family: 'Inter', sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/textures/paper_texture_3.png") center/cover no-repeat;
  opacity: 0.8;
  pointer-events: none;
  mix-blend-mode: overlay;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #7e5454;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.map-text {
  font-family: "Badeen Display", system-ui, sans-serif;
  font-size: 80px;
  color: #EE3F4D;
  margin-bottom: 8px;
}
.it-text {
  font-family: "Badeen Display", system-ui, sans-serif;
  font-size: 80px;
  color: #EE3F4D;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 0.95rem;
  font-weight: 500;
  color: #3b2f2f;
  margin-bottom: 14px;
  opacity: 0.85;
}

.address-input {
  background-color: #2f2f2f;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  color: #f9f7f0;
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 20px;
  border-radius: 20px;
  outline: none;
}

.btn {
  display: block;
  width: 160px;
  margin: 0 auto 12px auto;
  padding: 14px;
  border-radius: 10px;
  background-color: #EE3F4D;
  color: #f8f5e7;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #e14b4b;
  animation: wobble 0.4s ease-in-out;
}

@keyframes wobble {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px) rotate(-1deg); }
  50% { transform: translateX(4px) rotate(1deg); }
  75% { transform: translateX(-4px) rotate(-1deg); }
  100% { transform: translateX(0); }
}

.map-container {
  width: 100%;
  max-width: 450px;
  margin: 16px auto;
}

.glass {
  background: rgba(175, 154, 154, 0.12) url('/textures/washi_paper.png');
  background-size: cover;
  background-blend-mode: overlay;
  padding: 32px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
