html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f7f0;
  color: #3b2f2f;
  font-family: 'Inter', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.address-input {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  width: 100%;
  height: 140px;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1rem;
  border: 4px solid #625050;
  outline: none;
  color: #3b2f2f;
}


.submit-btn {
  display: block;
  width: 160px;
  margin: 0 auto 12px auto;
  padding: 14px;
  border-radius: 10px;
  background-color: #DC4140;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

@keyframes wobble {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px) rotate(-1deg); }
  50% { transform: translateX(4px) rotate(1deg); }
  75% { transform: translateX(-4px) rotate(-1deg); }
  100% { transform: translateX(0); }
}

.submit-btn:hover {
  background-color: #e14b4b;
  animation: wobble 0.4s ease-in-out;
}
